.banner {
  max-height: 843px;
  padding: 4em var(--body-padding-horizontal) 0 var(--body-padding-horizontal);
  background-image: url(../assets/home/desktop/bg-pattern-hero-home.svg);
  background-origin: content-box;
  background-position: center left;
}

.design-types {
  display: grid;
}

.skills {
  margin: 0 var(--body-padding-horizontal);
  display: flex;
  flex-direction: column;
  row-gap: 4em;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.skill {
  display: grid;
  align-items: center;
  justify-items: center;
  row-gap: 2em;
}

.skill-image {
  background: url("../assets/shared/desktop/bg-pattern-small-circle.svg");
}

.skill-name {
  text-transform: uppercase;
}

@media screen and (min-width: 500px) {
  .banner {
    padding: 2em 5em 0em 5em;
    background-position: top 45% left -100%;
  }

  .banner .paragraph {
    padding: 0 5em;
  }

  .skills {
    text-align: left;
  }

  .skill {
    grid-template-areas:
      "image name"
      "image desc";
    row-gap: 0;
    column-gap: 2em;
    justify-items: left;
  }

  .skill-image {
    grid-area: image;
  }

  .skill-name {
    grid-area: name;
    align-self: self-end;
  }

  .skill-desc {
    grid-area: desc;
    align-self: self-start;
  }
}

@media screen and (min-width: 1024px) {
  .banner {
    padding: 3em 5em 0 7em;
    grid-template: 225px 80px auto / 60% auto;
    justify-content: space-between;
    align-content: center;
    gap: 2em;
    align-items: start;
    justify-items: start;
    text-align: left;
    background-position: top -45px right -100px;
  }
  .banner .heading {
    margin-top: 1.75em;
  }
  .banner .paragraph,
  .banner .btn {
    margin: 0;
  }
  .banner .paragraph {
    padding-left: 0;
    padding-right: 10em;
  }

  .banner .phone {
    grid-column: 2;
    grid-row: 1 / -1;
  }

  .design-types {
    display: grid;
    height: 640px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2em;
  }

  .web-design {
    grid-row: 1 / -1;
    grid-column: 1;
  }

  .skills,
  .skill {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2em;
  }

  .skills {
    flex-direction: row;
  }

  .skill {
    flex-direction: column;
  }

  .skill-name,
  .skill-desc {
    width: 100%;
  }
}
